@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.main-title, .aside-section-post-header h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list-item, 
.aside-categories-item, 
.main-menu-item a,
.main-menu-item p,
#search-field::placeholder {
    font-family: 'Nunito', sans-serif;
}

.post-footer-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.join-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#login-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.popup-login-button{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.user-footer a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.privacy-policy a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

