

.wrapper-for-create-a-post{
    display: flex;
    flex-direction: column;
   margin-top: 50px;
}

.wrapper-for-create-a-post{
    min-height: 100%;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
}

.create-a-post-and-side-section{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.create-a-post-and-side-section{
    padding: 20px 24px;
    max-width: 1248px;
    //min-width: 640px;
}

.create-a-post-section{
    display: flex;
    flex-direction: column;
    background: #ffff;
    border-radius: 5px;
    border: 1px solid #9747FF;
    margin-left: 50px;
    width: 1200px;
}

.create-a-post-header{
    display: flex;
    padding-left: 10px;
}

.create-a-post-header{
    border-bottom: 1px solid #9747FF;
    margin-bottom: 10px;
}

.create-a-post{
    padding: 10px;
}

.create-a-post-section{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}


.chose-a-comunity{
    display: flex;
    margin-bottom: 10px;
}

.chose-a-community-box-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #353434;
    border-radius: 20px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid transparent;
}

.chose-a-community-box-options img{
margin-right: 10px;
}

.chose-a-community-box-options:hover{
    border: 1px solid #9747FF;
}

.communities-choice{  
    background-color: #353434; 
    border: none;
    padding-left: 10px; 
    margin-left: 10px;
}

#chose-community-dropdown::placeholder{
    color: #ffff;
}

::placeholder{
    color: #D9D9D9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.text-section-header{
    display: flex;
    align-content: center;
    flex-direction: row;
    padding: 10px;
}

.text-section-header button{
border: none;
background: #9747FF;
color: #ffff;
font-weight: bold;
border-radius: 20px;
padding: 5px 10px 5px 10px;
margin-right: 10px;
cursor: pointer;
}

.text-section{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.text-section-title{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.text-section-title textarea:focus{
outline: none; 
border: 2px solid #9747FF;
}

.text-section-title textarea{
    padding: 5px 10px 5px 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-color: #9747FF;

}


.title-character-count{
    align-self: center;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.text-section-text-box{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.styleing-section{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.styleing-section img{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.styleing-section span:hover{
    background: #9747FF;
}

.text-creation-section{
    display: flex;
    flex-direction: column;
}

.text-creation-section textarea{
    padding: 10px;
    width: 97%;
    height: 350px;
    border-radius: 5px;
    border-color: #9747FF;
}

.text-creation-section textarea:focus{
    outline: none;
    border: 2px solid #9747FF;
}

.post-creation-footer-section{
    display: flex;
    justify-content: right;
    margin-top: 10px;
    border: none;
}

.post-creation-footer-section button{
    background-color: #9747FF;
    padding: 10px 20px 10px 20px;
    border: none;
    color: #ffff;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}


.post-creation-side-section{
    display: flex;
    flex-direction: column;
    background: #ffff;
    border-radius: 5px;
    border: 1px solid #9747FF;
    margin-left: 20px;
    margin-right: 50px;
    width: 500px;
    height: 255px;
}

.post-creation-side-section-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.posting-rules{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.posting-rules h3{
    padding: 7px;
    border-bottom: 1px solid #9747FF;
    align-self: center;
    margin-bottom: 10px;
}

.posting-rules p{
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid #9747FF;
}

#back-to-top-button{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 150px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #9747FF;
    color: #D9D9D9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}