header {
    position: absolute;
}

#navbar-filter-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #9747FF;
    border-radius: 5px;
    background-color: #353434;
    height: 45px;
}

.navbar-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.list-item {
    list-style: none !important;
    flex: 1 1 0;
}

.list-item a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font-size: 18px;
}

.list-item:hover{
background-color: #9747FF;
}
