

.post-container{
    display: flex;
    flex-direction:column;
    justify-content: left;
    width: 720px;
}

.post{
    align-self: center;
    margin-top: 20px;
    max-width: 720px;
}

.poster-info{
    display: flex;
    justify-content:left;
    flex-direction: column;
    margin-top: 20px;
}

.poster-info a{
    align-self: center;
    text-decoration: none;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #ffff;
}

.poster-profile-pic{
    display: flex;
    justify-content: left;
    align-content: center;
    margin-top: 10px;
}

.sotial-buttons{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}


.sotial-buttons button{
    margin-right: 5px;
    background:none;
    border: 0;
    color: #D9D9D9;
    padding: 0 5px 0 5px;
    width: 80px;
    height: 25px;
    cursor: pointer;
}

.sotial-buttons button:hover{
        background-color: #9747FF;
        border-radius: 5px;
}

.divader-under-sotial-buttons{
    width: 720px;
    height: 1px;
    background-color:#9747FF;
    margin-top: 20px;
}

.poster-info{
    display: flex;
    justify-content: left;
    flex-direction: column;
   
}

.other-poster-info{
    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    margin-top: 0;
    margin-left: 40px;
}

.other-poster-info p{
    color: #ffff;
    font-size: 12px;
}

.other-poster-info a{
    color: #ffff;
    font-size: 12px;
    font-style: italic;
    padding-left: 0;
}

.post-title{
    color: #ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.recent-posts{
    display: flex;
}

.recent-post-links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.recent-post-links a{
    display: flex;
    align-items: center;
    color: #ffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;

}

.ime-naslov{
    display: flex;
    justify-content: center;
    flex-direction: column ;
}

.ime-naslov img{
padding-right: 10px;
}

.title-of-the-post{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.communitye-title-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffff;
}