

.post-container{
    display: flex;
    flex-direction:column;
    justify-content: left;
    width: 720px;
}

.post{
    align-self: center;
    margin-top: 20px;
    max-width: 720px;
}

.poster-info{
    display: flex;
    justify-content:left;
    flex-direction: column;
}

.sotial-buttons{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}


.sotial-buttons button{
    margin-right: 5px;
}

.divader-under-sotial-buttons{
    width: 720px;
    height: 1px;
    background-color:#9747FF;
    margin-top: 20px;
}

.poster-info{
    display: flex;
    justify-content: left;
    flex-direction: column;
   
}